# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# IDE directories
.vscode

/*
# except
!/import-service
!/product-service
!*.csv
